.question, #quizEnd { display: none }

.wrongAnswer .afterAnswerInfo, .rightAnswer .afterAnswerInfo { display: none }
.rightAnswerRevealed { color: white; background-color: green }
.rightAnswerRevealed:before { content: "\2714" }
.wrongAnswerRevealed { color: white; background-color: red }
.wrongAnswerRevealed:before { content: "\274C" }
.wrongAnswerRevealed .afterAnswerInfo, .rightAnswerRevealed .afterAnswerInfo { display: initial }
.skipQuestion { font-style: italic }
.skipQuestion:after { content: "?" }
.questionSkipped { text-transform: uppercase; font-weight: bold; color: white; background-color: orange }
.questionSkipped:after { content: "ed!" }

@media print {
  .rightAnswerRevealed, .wrongAnswerRevealed, .questionSkipped { color: black; background-color: white }
  .rightAnswerRevealed { font-weight: bold; text-decoration: underline }
  .wrongAnswerRevealed { text-decoration: line-through }
  .wrongAnswerRevealed .afterAnswerInfo { text-decoration: none }
}
